#sketch {
  border: 5px solid rgb(25, 31, 26);
  margin-top: 3px;
  width: 350px;
  height: 350px;
  background-color: rgb(255, 255, 249);
  margin-bottom: 5px;
}

@media only screen and (min-width: 768px) {
  #sketch {
    height: 600px;
    width: 600px;
  }
}
@media only screen and (min-width: 1400px) {
  #sketch {
    width: 900px;
    height: 600px;
  }
}
@media only screen and (max-width: 400px) {
  #sketch {
    height: 300px;
    width: 300px;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
}
