#paint {
  border: 5px solid rgb(25, 31, 26);
  margin-top: 3vh;
  width: 360px;
  height: 360px;
  background-color: rgb(255, 255, 249);
  margin-bottom: 2vh;
}

@media only screen and (min-width: 768px) {
  #paint {
    height: 600px;
    width: 600px;
  }
}

@media only screen and (min-width: 1400px) {
  #paint {
    height: 800px;
    width: 800px;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
}
